<p>Works</p>

<!-- <form class="form-group container" autocomplete="off">
    <div>
        <label for="proyecto">Proyecto</label>
        <input class="form-control" type="text" id="proyecto" placeholder="Nombre del proyecto"/>
    </div>
    <div>
        <label for="horas">Horas</label>
        <input class="form-control" type="number" id="horas" placeholder="Selecciona las horas para completar el proyecto"/>
    </div>
    <div>
        <label for="tecnologias">Tecnologías</label>
        <input class="form-control" type="text" id="tecnologias" placeholder="Nombre de la tecnologia"/>
    </div>
    <div>
        <button type="submit" class="btn btn-info mt-2 w-100">Agregar proyecto</button>
    </div>
    
</form> -->