<div *ngIf="miFormulario.invalid && miFormulario.touched" class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle"></i>
    <div>Error: Formulario invalido</div>
  </div>

<form class="form-group container" autocomplete="off" (ngSubmit)="agregar()" #miFormulario="ngForm">
    <div>
        <label for="proyecto">Proyecto</label>
        <input [(ngModel)]="initialState.proyecto" name="proyecto" class="form-control" type="text" id="proyecto" placeholder="Nombre del proyecto"
        required minlength="5" maxlength="10"
        />
    </div>
    <div>
        <label for="horas">Horas</label>
        <input [(ngModel)]="initialState.horas" name="horas" class="form-control" type="number" id="horas" placeholder="Selecciona las horas para completar el proyecto"
        required min="0" max="20"
        />
    </div>
    <div>
        <label for="tecnologia">Tecnologías</label>
        <div class="row">
            <div class="col-8">
                <input [(ngModel)]="initialState.tecnologia" name="tecnologia" class="form-control" type="text" id="tecnologia" placeholder="Nombre de la tecnologia"
                minlength="3" maxlength="30"
                />
            </div>
            <div class="col-4">
                <button type="button" (click)="agregarTec()"  class="btn btn-success">Agregar</button>
            </div>
            <div class="col-12 my-2">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" *ngFor="let t of tecnologias">{{t}}</li>
                  </ul>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-info mt-2 w-100">Agregar proyecto</button>
    </div>
    
</form>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Horas</th>
        <th scope="col">Tecnologias</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of proyectos; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{p.proyecto}}</td>
        <td>{{p.horas}}</td>
        <td>{{p.tecnologias}}</td>
      </tr>
    </tbody>
  </table>